* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
}

h2 {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  font-family: "Bagel Fat One", system-ui;
  font-style: normal;
}

.top-flex {
  margin-bottom: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.top-flex-item {
  margin-left: auto;
}

.top-flex .input-group-text {
  font-weight: bold;
  display: block;
  text-align: center;
  width: 7%;
}

.name-right {
  margin-right: 70px;
}

.mid-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.mid-flex #input-group-sort {
  margin-left: auto;
}

.mid-flex #input-group-sort .form-control {
  background-color: white;
  text-align: center;
}

.table {
  text-align: center;
}

.table thead {
  border-bottom: 3px solid black;
}

.table tfoot {
  border-top: 3px solid black;
}

.pagination {
  margin-left: 41%;
}

.pagination .page-link {
  color: black;
}

.pagination .page-item :hover {
  background-color: gray;
  color: white;
}

#input-group-search, #input-group-sort {
  height: 37px;
}


/* 정렬 sort reverse 또는 charCodeAt(화살표 정렬 버튼 구현) */
/* 검색기능은 필터 함수 */
/* 총점은 토탈썸했던거 화살표함수 사용 */